
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>nl2sql生成系统</title>
</head>
<body>
    <h1 style="text-align: center">nl2sql生成系统</h1>
    <hr />
    <form action="/search-post/" method="post">
        {% csrf_token %}
        数据库地址：<br>
        <input style="text-align: center"  type="text" name="db_id">
        <br>
        你想说的话：<br>
        <input style="text-align: center" type="text" name="question">
        <br>
        <input style="text-align: center" type="button" value="搜索">
    </form>


</body>
</html>